* {
    margin: 0px;
    padding: 0px;
}

body {
     background-color: #C9C9C9;
}

nav {
    display: flex;
    align-items: center;
    background-color: #FF9935;
    height: 120px;
    border-bottom: 2px solid darkgray;
    color: white;
}

.logo, .manu, ul, li {
    display: inline-block;
}

.logo {
  font-family: 'Anton', sans-serif; 
  font-size: 40px;
  margin-left: 50px;
}

.me {
    color: black;
}

.manu {
    margin-right: 50px;
    margin-left: auto;
    font-size: 20px;
}

li {
    border-right: 5px solid white;
    padding-right: 15px;
    padding-left: 15px;
}

a, a:visited, a:active {
    text-decoration: none;
    color: white;
}

img {
    display: flex;
    margin: auto;
    border: 1px solid gray;
    margin-top: 40px;
    margin-bottom: 20px;
}

img:hover {
    opacity: 0;
}

.photo {
    display: flex;
    background-color: #F2F2F4;
    margin-top: 0;
}

.content {
    display: flex;
}
div.content {
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
